<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AppConfigContext" connectionString="metadata=res://*/AppConfigModel.csdl|res://*/AppConfigModel.ssdl|res://*/AppConfigModel.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;data source=nnvmng01/hriAppConfig;password=hri;persist security info=True;user id=HRIMPORTREF;Promotable Transaction = local&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>